In [24]:
# Assign1 

## Ask for the student name
name = input('Enter the student name :',)

## Accept .. Student details with 5 marks 
_1 = int(input('Enter the marks:',))
_2 = int(input('Enter the marks:',))


_3 = int(input('Enter the marks:',))
_4 = int(input('Enter the marks:',))
_5 = int(input('Enter the marks:',))


## calculate Total 


total = _1+_2+_3+_4+_5
## calculate Average 
avg = int(total)/5
	
## Display total and average along with all student details

print('Student name :{} \nTotal marks:{} \nAverage marks:{}'.format(name,total,avg))
##-------------------------------------------------------------------

Enter the student name :sree
Enter the marks:52
Enter the marks:50
Enter the marks:56
Enter the marks:54
Enter the marks:58
Student name :sree
Total marks:270
Average marks:54.0

In [25]:
# Assign2

##Accept 3 numbers from user 

one = int(input('Enter the first number:'))
two = int(input('Enter the second number:'))
three = int(input('Enter the third number:'))


 
## Calculate Addition , Subtraction and Multiplication

add = one+two+three
minus = one-two-three
multiply = one*two*three

##printing the values

print('Addition of values:{} \nSubstraction of values:{} \nMultiplication of values:{}'.format(add,minus,multiply))
##---------------------------------------------------------------------

Enter the first number:25
Enter the second number:54
Enter the third number:52
Addition of values:131
Substraction of values:-81
Multiplication of values:70200

In [26]:
# Assign 3

##Accept employee details from user using input function like

## Empname
## Empdesg
## Empsal
## Empexp

Empname = input('Enter the employee name:')
Empdesg = input('Enter the employee role:')
Empsal = int(input('Enter the employee present salary P/M in rupees:'))
Empexp = input('Enter the experience in years:')

##Calculate 15% hike to employee and total salary

hike = Empsal*15/100
total = hike+Empsal

##display the salary hike value

print('Amount of salary before hike:',Empsal)
print('Amount of salary hiked:',hike)
print('Amount of salary after hike:',total)

Enter the employee name:sree
Enter the employee role:analyst
Enter the employee present salary P/M in rupees:45000
Enter the experience in years:3
Amount of salary before hike: 45000
Amount of salary hiked: 6750.0
Amount of salary after hike: 51750.0